@keyframes slideUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-float {
  /* 6 saniyede bir sonsuz döngüyle abu hareketi yapar */
  animation: float 6s ease-in-out infinite;
}
/* Metinlerin geliş animasyonu */
.animate-slideUp {
  animation: slideUp 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

